<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Spring</title>
  <style>
    body {
      background-color: gray;

    }

    @font-face {
      font-family: 'TheTuesdayofYounah';
      src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/TheTuesdayofYounah.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
    }


  </style>

</head>
<body>
<h1>안녕 스프링</h1>

<body style=" font-family: 'TheTuesdayofYounah';">



<script>alert("Welcome Spring");

</script>

</body>
</html>